# Cache
.cache/

# Elpa
elpa/

# Eshell
eshell/

# PYIM
pyim/

# Recentf
recentf

# tramp
tramp

# transient
transient

# Compiled
*.elc

# Packaging
.cask/
.eask/
.eldev/
.keg/

# Built distribution
dist/

# Backup files
*~

# Undo-tree save-files
*.~undo-tree
